<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Characters</title>

    <link href="theme-default.css" rel="stylesheet" type="text/css"/>
    <script src="core.js" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Culture</th>
            <th>Born</th>
            <th>Died</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : ${characters}">
            <td th:text="${character.id}">Character id</td>
            <td th:text="${character.name}">Character name</td>
            <td th:text="${character.gender}">Character gender</td>
            <td th:text="${character.culture}">Character culture</td>
            <td th:text="${character.born}">Character born</td>
            <td th:text="${character.died}">Character died</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>