<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/default :: layout(~{::body}, 'Characters')">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title layout:fragment="title">Characters</title>
</head>

<body>

<div layout:fragment="content">
    <h1>Characters</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Culture</th>
            <th>Born</th>
            <th>Died</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : ${characters}">
            <td th:text="${character.id}">Character id</td>
            <td th:text="${character.name}">Character name</td>
            <td th:text="${character.gender}">Character gender</td>
            <td th:text="${character.culture}">Character culture</td>
            <td th:text="${character.born}">Character born</td>
            <td th:text="${character.died}">Character died</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>