<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>

    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/theme-default.css" rel="stylesheet" media="screen" th:href="@{/theme-default.css}"/>

    <script src="/core.js" th:src="@{/core.js}"></script>
    <script src="/libs.js" th:src="@{/libs.js}"></script>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div layout:fragment="content"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>